.swiper {
  width: 100%;
  height: 80%;
  position: absolute !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.field-booking{
  position: absolute;
  z-index: 1;
  margin-top: 250px;
}

.field-booking-inner{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1017px) {
  #myBtn {
    display: none;
  }
}

@media (max-width: 1127px) {
  .contact-us {
    display: none;
  }
}

@media (max-width: 1024px) {
  .button-2 {
    display: none;
  }
}