.swiper {
  width: 100%;
  height: 80%;
  position: absolute !important;
}

.ai-div {
  width: 20%;

  border: 1px solid #bdb7ba !important;
}

.nav-div {
  padding: 10px !important;
  width: 90%;
  margin: auto;
  background: rgb(246, 242, 242);
  margin-top: 30px;
  border-radius: 25px;
  /* border-bottom: 1px solid #881237; */
}

.close-modal {
  margin-top: -8px !important;
}

.acb-input {
  font-weight: 600;
}

.add-button {
  color: #961054;
  font-size: 13px;
  padding: 5px 15px;
}

.add-button:hover {
  color: #fff;
  font-size: 13px;
  background-color: #961054;
  /* text-decoration: underline; */
  border: 1px solid #961054;
  border-radius: 50px;
  
}

.acb-input:focus {
  border: 0px !important;
  outline: none;
  box-shadow: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fb-banner {
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  background-image: url("https://travel.konga.com/banner.bdc6d2af502cf9e2d1b1.jpg") !important;
  height: 400px;
}

.field-booking {
  background-color: rgb(0 0 0 / 30%);
  background-size: cover;
  /* background-color: #eeece1; */
  background-image: url(https://res.cloudinary.com/dzv98o7ds/image/upload/v1681858357/image1_tzt4dz.png);
}

.acb-icon {
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 250px; */
  background-color: #fff;
  margin-top: 120px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;

  border-radius: 10px 10px 0px 0px;
}

.field-booking-loading {
  position: absolute;
  z-index: 1;
  padding-top: 250px;
}

.field-booking-inner {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ac-button {
  width: 100% !important;
  justify-content: center;
  color: #961054;
}
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
} */
.go-btn {

  border-width: 1px !important;
}

#id-4,
#id-5 {
  width: 100% !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media (max-width: 768px) {
  .go-btn-div {
    display: block !important;
  }

  .go-btn {
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px !important;
    border-width: 1px !important;
  }

  .aircraft-display {
    width: 90%;
  }

  .advert-1 {
    color: #5c0632 !important;
    width: 100%;

  }

  .advert-2 {
    color: #5c0632 !important;
  }

  .advert {
    padding-top: 50px !important;
    color: #5c0632 !important;
  }

  .route-icon {
    margin-top: 0px !important;
    margin-top: -15px !important;
    margin-left: 45% !important;
  }

  .special-destination {
    margin-top: -25px !important;
  }

  .route-icon-item {
    display: none;
  }

  .list-trips {

    height: 200px !important;
  }

  .react-slideshow-container {
    padding: 10px !important;
  }

  .empty-legs {
    padding-left: 30px !important;
  }

  .fsld-special {
    padding-top: 0px;

  }

  .booking-engine {
    margin-top: -600px !important;
  }

  .be-t-1 {
    font-weight: 600;
    color: #5c0632;
    font-size: 20px !important;

    text-align: center;


  }

  .be-t-2 {
    font-weight: 600;
    color: #5c0632;
    font-size: 15px !important;
    /* margin-bottom: 5px; */
    text-align: center;

  }


  .first-stn-left {
    border: 0px !important;
    /* background-color: #ffffff !important; */
    width: 90% !important;

  }

  .first-stn-left-inner {

    padding: 20px !important;
  }

  .react-ios-time-picker-container {
    width: 300px !important;
  }

  .react-ios-time-picker {
    margin-bottom: 250px !important;
  }

  .ai-div {
    width: 96% !important;
  }

  .fb-banner {
    padding-top: 100px;
    /* height: 250px; */
  }

  .sw-link {
    font-size: 12px;
    text-align: start;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .acb-icon {
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    background-color: #fff;
    margin-top: 50px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    border-radius: 10px 10px 0px 0px;
  }

  .mobile-btn {
    width: 33.33%;
  }

  .contact {

    margin-top: 20px !important;
    padding-top: 0px !important;

  }

  #ac-button {
    display: block;
    width: 95% !important;
    border-radius: 10px;
    padding: 10px !important;
    margin: auto;
    padding: 5px !important;
  }

  .ac-button {
    font-size: 12px !important;
    padding: 5px !important;
    display: grid;
    color: #4D4D4D;
  }

  .fbf-div {
    border: 1px solid #fff !important;
    /* margin-bottom: 100px; */
  }

  .nav-div {
    display: block;
    padding-left: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px !important;
    width: 90%;
    margin: auto;

    margin-top: 30px;
    border-radius: 25px;
    /* border-bottom: 1px solid #881237; */
  }

  .contact-us {
    font-size: 12px !important;
  }

  .load-passanger-form {
    padding: 10px 5px 10px 5px !important;
  }
  .nav-inner{
    border: 1px solid #b6a4ad;
  }
}

@media(min-width: 770px)and (max-width: 1024px) {
  .special-destination {
    margin-top: -28px !important;
  }

  .route-icon {
    margin-top: -15px !important;
    margin-left: 45% !important;
  }

  .acb-icon {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    background-color: #fff;
    margin-top: 50px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    border-radius: 10px 10px 0px 0px;
  }

  .ai-div {
    width: 98% !important;
  }
}

.remove-skill {

  color: rgb(83, 8, 8);
  font-weight: 800;
  cursor: pointer;
}

.sw-link {

  text-align: start;
}

.fbf-div {
  border: 1px solid #5c0932;
  margin-bottom: 50px;
}

.ac-input-div {
  width: 100%;
}



.first-stn-left-div {
  padding-right: 0px !important;
}

.first-stn-left {
  margin-left: 6%;
  width: -moz-fit-content;
  width: 80%;
  height: 520px;
  padding-right: 0px !important;
  border-radius: 50px;
  border: 1px solid #c494a4;
}


.input-div-booking {
  border-radius: 20px !important;
  padding-left: 20px !important;
  /* border-top: 1px solid #881537 !important; */
  /* margin-left: 10px;
  margin-right: 10px; */
}

.input-div-booking:focus {
  border: 0px !important;
  outline: none !important;
  border-color: #fff !important;
  box-shadow: none !important;
}

.dark\:bg-slate-800,
.dark\:text-white\/70 {
  background-color: #ffffff !important;
  color: #5c0932 !important;
}

.react-ios-time-picker-container {
  background-color: #ffffff !important;
  color: #fff !important;
}

.react-ios-time-picker-input {
  width: 100% !important;
}

.react-ios-time-picker-hour.false {
  color: #fff !important;
}

.react-ios-time-picker-btn {
  padding: 10px 15px;
  font-size: 13px;
  color: #ffffff !important;
  font-weight: 500;
  z-index: 1;
}

.tracking-wide {
  font-size: 12px;
  color: #4d1430c7 !important;
  font-weight: 600;
  padding: 8px !important;
}

.passengers-modal {
  margin: 40px;
  padding: 40px;
}

.load-passanger-form {
  margin-top: 20px;
  border-radius: 20px !important;
  border: 1px solid #f6f2f2;
  background-color: #f6f2f2;
}


.load-passanger-form:hover {
  margin-top: 20px;
  border-radius: 20px !important;
  background-color: #941353;
  border: 1px solid #e8d9df;
  color: #fff !important;
}

.tracking-wide:focus,
.react-ios-time-picker-input:focus {
  border: 0px !important;
  outline: none;
  box-shadow: none;
}

.react-ios-time-picker-input {
  border: 0px !important;
  outline: none;
  box-shadow: none;
}

.react-ios-time-picker-input {
  cursor: text;
  padding: 5px 10px;
  border-radius: 5px;
  border-radius: 20px !important;
  background-color: #f9fafb;
  border: 1px solid #e8d9df !important;

}

.load-passanger-form {
  width: 100%;
  padding: 15px 10px 15px 10px;
}

#browsers {
  background-color: red !important;
}

.react-datalist-input__textbox {
  background-color: #f9fafb !important;
  border-radius: 20px !important;
  padding: 15px !important;
  border: 0px !important;
}

.react-datalist-input__container {
  margin-top: 50px !important;
  margin-bottom: 10px !important;
}

.react-datalist-input__textbox:focus {
  background-color: #f9fafb !important;
  border-radius: 20px !important;
  padding: 15px !important;
  border: 1px solid #5c0932 !important;
  box-shadow: none;
  outline: none;
  margin-top: 50px;
}

.duration-300 {
  transition-duration: 300ms;
  /* padding: 5px !important; */
  border-radius: 20px !important;
  /* background-color: #f9fafb !important; */
  border: 1px solid #ffffff7a !important;
}




.duration-300:focus {
  transition-duration: 300ms;
  /* padding: 7px !important; */
  border-radius: 20px !important;
  border: 1px solid #5c0932 !important;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-size: 11px;
  color: #4d4d4d;
  font-weight: 600;
}

.input-date-time {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.left-img-page {
  width: 100%;
  /* opacity: 0.8; */
  /* margin: auto; */
}

.left-img-page-img {
  border-radius: 50px !important;
}

.inner-input {
  border: 1px solid #c6909e !important;
}

.duration-200:hover {
  background-color: #5c09333a !important;
  color: #4d1430c7 !important;
}

[type='checkbox']:checked,
[type='radio']:checked {
  border-color: #5c063274 !important;
  background-color: #5c063274 !important;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  accent-color: #5c0632 !important;
}

.label-fields {
  font-size: 15px;
  color: #c494a5;
  font-weight: 700;
}

/* input[type='radio'] {
  border: 2px solid red !important;
 } */
body {
  accent-color: red;
}

.divider {
  height: 15px;
  border-left: 1px solid #ffffff;
  margin-left: 5px;
  border-style: dashed;
}

.booking-engine {
  margin-top: -600px;
  --bs-gutter-x: 0rem !important;
}

.booking-engine-title {
  font-weight: 600;
  font-size: 25px;
}

.be-t-1 {
  font-weight: 600;
  color: #8f285d;
  font-size: 17px;
  padding: 10px;
  text-align: center;


}

.be-t-2 {
  font-weight: 600;
  color: #655bce;
  font-size: 17px;
  /* margin-bottom: 5px; */
  text-align: center;

}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {}

.react-slideshow-container {
  padding: 0px 50px 50px 50px;
  background-color: #fff;
}


.shared-flight-time {
  color: #5c0632 !important;
  /* margin-top:0px !important; */
  /* padding-left: 10px; */
}

.shared-flight-time-date {
  font-family: Minion Pro !important;
  font-size: 13px;
  color: #5c0632 !important;
  font-weight: 800;
}

.bg-img-title {
  position: absolute;
  top: 420px;
  left: 20px;
}





/* .flight-shared-img:hover:before{
  opacity: 0.5;
} */
.cost {
  font-weight: 600;
  font-family: Minion Pro !important;
}

.route {
  font-weight: 700;
  font-family: Minion Pro !important;
}

.empty-legs {
  padding-left: 70px;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px !important;
}

/* INTRO-SECTION BEGINS */

#intro {
  margin: 1% 10%;

}

.intro-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: -10%;
  z-index: 1;
  gap: 2rem;

}

.intro-col {
  flex: 1 1 20rem;
  text-align: center;
  padding: 2rem 1rem;
  margin: 1rem;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);

}

.intro-col:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  opacity: .2;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -40px;
  margin: auto;
  border-radius: 20px;
}

.intro-col img {
  width: 60px;
  margin-bottom: 2rem;
}

.intro-col h3 {
  font-size: 2rem;
}

.intro-col p {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 2.2rem;
  line-height: 25px;
}

.igh:hover {}

.sfc {
  /* box-shadow: 3px 6px 2px #e5e2e2f2 */
}

a:hover {
  color: inherit;
}

.slide-img {
  width: 60%;
  height: 80%;
  margin: auto;
}

.h-96 {
  height: 800px;
}

.video__content {
  width: 100%;
}

.grow {
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;

}

.list-trips {
  background-color: rgb(255 255 255 / 30%);
  margin-bottom: 20px !important;
  padding-bottom: 10px;
  width: 90%;
  border-radius: 25px;
  max-height: 500px;
}

.carousel-root {
  outline: none;
  padding: 10%;
  width: 80%;
  padding: 5%;
  border: 1px solid #c494a4;
  border-radius: 50px;
  margin-left: 13%;
  height: 520px;
}

/* .sl-text{
  margin-top: -200px;
} */
.trip-item {
  display: flex;
  width: 33.333%;
}

.route-icon {
  margin-top: 30px;
  margin-right: -20px;
  margin-left: -20px;
}

.advert {
  padding-top: 150px;
}

.advert-1 {
  line-height: 2;
}
#about-us{
width: max-content;
}
