.swiper {
  width: 100%;
  height: 80%;
  position: absolute !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.field-booking{
  position: absolute;
  z-index: 1;
  margin-top: 290px;
}

.field-booking-inner{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1017px) {
  #myBtn {
    display: none;
  }
}

@media (max-width: 1127px) {
  .contact-us {
    display: none;
  }
}

@media (max-width: 1024px) {
  .button-2 {
    display: none;
  }
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;

}
.tab{
  cursor: pointer;
  margin:2px 18px;
  border-radius:3px 3px 0px 0px;
  border-radius: 10px

}

.panels{
  background-color:white;
  min-height:200px;
  width: auto;
  max-width:auto;
  border-radius:10px;
  overflow:hidden;
  padding:70px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}

.grid {
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  padding: 1em 2em;
}