.ac-name{
    font-family: 'Minion Pro' !important;
}

.aircraft-details-head {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;
}
.ac-details-1{
   width: 70%;
}

@media (max-width: 768px) {

    .sa-props {
        display: block;
      padding-left: 10px;
      padding-right: 10px;
    }
    .aircraft-details-head-inner{
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }

  }

  