.aircraft-list-head {
    background-color: #5C0632;
    padding-top: 100px;
    padding-bottom: 20px;
}

.alh-icons,
.alh-links {
    /* width: 80%; */
    margin: auto;

}

.acb-icons,
.acb-links {
    /* width: 80%; */
    margin: auto;
    /* margin-top: 250px; */
    background-color: #fff;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    border-radius: 10px 10px 0px 0px;
    /* border-top: 2px solid #5c0932;
    border-right: 2px solid #5c0932;
    border-left: 2px solid #5c0932; */

}

.ac-button:focus {
    outline: none;
    box-shadow: none;
}

.ac-button:hover {
    color: #fff;
    background-color: #961054 !important;
}

.alh-desc {
    width: 90%;
    margin: auto;
}

.alh-desc-stn {
    font-weight: 500;
    font-size: 16px;
}

.alh-title {
   
    font-weight: 600;
}

.ac-card-div {
   
    margin: auto;
    margin-top: 50px;
}

@media (max-width: 768px) {

    .field-booking {

        padding-top: 100px;
        background: #eeece1;
    }
    .acb-icons{
        width: 97% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        justify-content: space-evenly;
    }
    .acb-icons,
    .acb-links {
        width: 100%;
        margin: auto;
        border-radius: 10px 10px 0px 0px;
        /* border-top: 2px solid #5c0932;
        border-right: 2px solid #5c0932;
        border-left: 2px solid #5c0932; */

    }
}